.App

table {
  border: 2px solid rgb(0, 0, 0);
  width: 1000px;
  border-radius: 10px;
  margin-top: 10px;
}

th {
  border-bottom: 1px solid black;
  color: purple;
  font-weight: bold;
}

td {
  text-align: center;
  color: black;
  font-weight: bold;
}

